@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: url('/cursor.png'), auto;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", monospace;
}

/* Syntax Highlighting Styles */
.code-container {
  background-color: #282c34;
  color: #abb2bf;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  position: relative;
}

.line-numbers {
  text-align: right;
  padding-right: 10px;
  user-select: none;
  color: #636d83;
  line-height: 1.5;
  margin-right: 10px;
}

.code-content {
  white-space: pre;
  overflow: hidden; /* Ensures the cursor is visible */
}

.keyword {
  color: #c678dd;
}

.string {
  color: #98c379;
}

.comment {
  color: #5c6370;
}

.number {
  color: #ff8d44;
}

/* Typing Animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.code-content::after {
  content: '|';
  color: orange;
  position: absolute;
  right: 16px;
  animation: blink-caret 0.75s step-end infinite;
}
